article {
    margin-left: 380px;
    margin-right: 480px;
    margin-top: 60px;
    margin-bottom: 150px;
    h2 {
        color: var(--dark-blue);
        margin-bottom: 30px;
    }
  
    .content {
        display: flex;
        margin-top: 30px;
        .text {
            width: 100%;
            margin-right: 30px;
        }
        .list {
            background-color: var(--light-grey);
            width: 329px;
            padding: 10px 30px;
            margin-top: 20px;
            height: fit-content;
            ol {
                padding-inline-start: 20px;
                li {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 500px)  {
    article {
        padding: 36px;
        margin-left: 0;
        margin-right: 0;
        h1 {
            font-size: 36px;
        }
        h2 {
            font-size: 18px;
        }
        .content {
            display: flex;
            flex-direction: column;
            .list {
                order: 1;
                width: auto;
            }
            .text {
                order: 2;
                margin-right: 0px;
            }
        }
    }
}