<footer id="contact">
    <hr>
    <div class="information-box">
        <div class="logo-box">
            <img class="logo" src="../../../assets/icons/logo-square-white.svg" alt="logo">
            <span>© Copyright 2022</span>
            <span>Bubotrans s.r.o.</span>
        </div>
        <div class="contact">
            <div>
                <h2>Kontakt</h2>
                <span><a href="mailto: obchod@bubotrans.cz" target="_blanc">obchod@bubotrans.cz</a></span> 
                <span><a href="mailto: bastl@bubotrans.cz" target="_blanc">bastl@bubotrans.cz</a></span>
            </div>
            <div>
                <h2>Bubotrans s.r.o.</h2>
                <span>IČ: 06628842</span> 
                <span>DIČ: CZ06628842</span>
            </div>
        </div>
        <div class="news">
            <h2>Odběr novinek</h2>
            <span>Zajímají vás novinky ze světa logistiky, nebo jen chcete vědět o nových funkcích v naší aplikaci? Zadejte svůj e-mail a nic vám neunikne.</span>
            <div class="subscribe">
                <input placeholder="E-mail">
                <button>Odeslat</button> 
            </div>
        </div>
        <div class="info">
            <h2>Užitečné informace</h2>
            <span>Slovník přepravních pojmů</span>
            <span>Přepravní manuál</span>
            <span>Dokumenty ke stažení</span>
            <span>Obchodní podmínky</span>
            <span>Ochrana osobních údajů</span>
        </div>
    </div>
</footer>