<div class="container">
    <h1>Nevíte si s něčím rady, potřebujete poradit?</h1>
    <h2>Neváhejte se nám ozvat</h2>
    <div class="contacts">
        <div class="card card1">
            <h2>Miloš Kreuzer</h2>
            <span>Obchodní oddělení</span>
            <span>+420 731 345 733</span>
            <span><a href="mailto: obchod@bubotrans.cz" target="_blanc"></a>obchod@bubotrans.cz</span>
        </div>
        <div class="card card2">
            <h2>Kristýna Kreuzerová</h2>
            <span>Fakturace</span>
            <span>+420 724 338 165</span>
            <span><a href="mailto: fakturace@bubotrans.cz" target="_blanc"></a>fakturace@bubotrans.cz</span>
        </div>
        <div class="card card3">
            <h2>Fakturační adresa</h2>
            <span>BUBO trans s.r.o.</span>
            <span>Masarykova 723</span>
            <span>Rudná, 25219</span>
            <strong>IČ:</strong><span> 06628842</span>
            <strong>DIČ:</strong><span> CZ06628842</span>
        </div>
        <div class="card card4">
            <h2>Bankovní spojení</h2>
            <span>Raiffeisenbank: 66611170/5500</span>
            <span>IBAN: CZ7655000000000066611170 Swift: RZBCCZPP</span>
            <span>Swift: RZBCCZPP</span>
        </div>
        <div class="card card5">
            <h2>Provozovna</h2>
            <span>BUBO trans s.r.o.</span>
            <span>U lesíka 220</span>
            <span>Bubovice 26718</span>
            <span>26718</span>
        </div>
    </div>
</div>
