<div class="news" id="news">
    <div class="text">
        <h1>Ze světa logistiky</h1>
        <div class="buttons">
            <button (click)="prevNews()"><img class="left" src="../../../assets/icons/arrow-right.svg"></button>
            <button (click)="nextNews()"><img class="right" src="../../../assets/icons/arrow-right.svg"></button>
        </div>    
    </div>
    <div class="carousel">
        <div class="article-box" #articleCarousel id="articleCarousel">
            <div class="article" >
                <div class="content" style="background-image: url(../../../assets/photos/plane.png);">
                    <span class="date">18. 1. 2022</span>
                    <h3>Nadpis nějakého zajímavého článku, nebo novinky třeba na dva, ale klidně i tři řádky, pokud to tak vyjde</h3>         
                </div>
            </div>
            <div class="article">
                <div class="content" style="background-image: url(../../../assets/photos/warehouse.png);">
                    <span class="date">18. 1. 2022</span>
                    <h3>Nadpis nějakého zajímavého článku, nebo novinky třeba na dva, ale klidně i tři řádky, pokud to tak vyjde</h3>            
                </div>       
            </div>  
            <div class="article">
                <div class="content" style="background-image: url(../../../assets/photos/train.png);">
                    <span class="date">18. 1. 2022</span>
                    <h3>Nadpis nějakého zajímavého článku, nebo novinky třeba na dva, ale klidně i tři řádky, pokud to tak vyjde</h3>            
                </div>           
            </div>      
        </div>
    </div>
</div>
