.about {
    // max-width: 1660px;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-left: var(--margin-box);
    padding-bottom: 100px;
    .background {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 635px;
        background-color: var(--light-grey);
        border-radius: 0px 0px 0px 80px;
    }
    .content {
        width: 1660px; 
        z-index: 2; 
        position: relative;
        .text {
            max-width: 560px;
            margin-left: 120px;
            margin-top: 120px;
            span {
                display: block;
                margin-top: 30px;
                font-size: 18px;
            }
            button {
                margin-top: 30px;
                width: 272px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    display: none;
                    margin-left: 7px;
                }
            }
            button:hover {
                img {
                    display: block;
                }
            }
            
        }
        .images {
            img {
                transition: all .5s;
            }
            .img1 {
                position: absolute;
                top: 93px;
                right: var(--margin-box);
                border-radius: 9px;
                width: 567px;
                height: 378px;
                border-radius: 9px;
                overflow: hidden;
                // position: relative;
                display: flex;
                transition: all .5s;
                video {
                    width: 120%;
                    height: 100%;
                }
            }
            .img2 {
                position: absolute;
                top: 300px;
                right: 480px;
            }
            .img3 {
                position: absolute;
                top: 500px;
                right: 170px;
                // width: 276px;
                // height: 183px;
            }
            .img4 {
                position: absolute;
                top: 620px;
                right: 415px;
                width: 215px;
                height: 143px;
                border-radius: 9px;
            }
            img:hover {
                transform: scale(1.05);
            }
            .img1:hover {
                transform: scale(1.05);
            }
        }
        .logos {
            margin-left: 120px;
            margin-top: 150px;
            span {
                font-size: 18px;
                color: var(--grey);
                display: block;
            }
            img {
                margin-right: 91px;
            }
        }
    }
}
.about-mobile {
    display: none;
    .background {
        // position: absolute;
        // top: 0;
        z-index: 0;
        width: 100%;
        height: 297px;
        background-color: var(--light-grey);
        border-radius: 0px 0px 0px 80px;
    }
    .images {
        img {
            transition: all .5s;
            border-radius: 9px;
            position: absolute;
        }
        .img1 {

            top: 90px;
            right: 0;
            width: 300px;
            height: 200px;
            border-radius: 9px 0 0 9px;
        }
        .img2 {
            top: 200px;
            left: 15px;
            width: 210px;
            height: 160px;
        }
        .img4 {
            top: 313px;
            right: 36px;
            width: 103px;
            height: 68px;
        }
    }
    .content {
        margin-top: 36px;
        margin-right: 36px;
        margin-left: 36px;
        .text {
            span {
                display: block;
                font-size: 14px;
                margin-bottom: 30px;
            }
            h1 {
                font-size: 36px;
                max-width: 300px;
            }
            h2 {
                font-size: 20px;
                color: var(--violet);
            }
    
            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    display: none;
                    margin-left: 7px;
                }
            }
            button:hover {
                img {
                    display: block;
                }
            }
        }
        .logos {
            margin-top: 30px;
            span {
                color: var(--grey);
                display: block;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .logo-box {
                display: flex;
                justify-content: space-between;
                .img {
                    width: 20%;
                }

            }
        }

    }
}
@media (max-width: 500px) {
    .about {
        display: none;
    }
    .about-mobile {
        display: block;
    }
}
.benefits {
    max-width: 1660px;
    padding-top: 100px;
    padding-bottom: 150px;
    margin-left: var(--margin-box);
    display: flex;
    .images {
        width: 696px;
        position: relative;
        display: flex;
        flex-direction: column;
        img {
            width: 329px;
            height: 329px;
            background-size:cover;
            border-radius: 9px;
        }
        div{
            border-radius: 9px;
        }
        .square {
            transition: all .5s;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .square:hover {
            z-index: 6;
            transform: scale(1.05);
        }
        .square1 {
            position: absolute;
            top: 100px;
            left: 355px;
            width: 200px;
            height: 200px;
            background-color: var(--violet);
            color: var(--white);
            h1 {
                color: var(--white);
            }
          
        }
        .square2 {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 270px;
            left: 200px;
            background-color: var(--light-grey);
            color: var(--dark-blue);
        }
        .square3 {
            align-self: flex-end;
            width: 250px;
            height: 250px;
            background-color: var(--dark-blue);
            color: var(--white);
            h1 {
                color: var(--white);
            }

        }
    }
    .text {
        padding-left: 100px;
        max-width: 450px;
        button {
            width: 167px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                display: none;
                margin-left: 7px;
            }
        }      
        button:hover {
            img {
                display: block;
            }
        }
        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }

    }
}
 @media (max-width: 500px) {
    .benefits {
        display: block;
        margin-right: 36px;
        margin-left: 36px;
        padding-bottom: 0;
        h1 {
            font-size: 36px;
        }
        .images {
            width: auto;
            h1 {
                font-size: 22px;
            }
            span {
                font-size: 10px;
            }
            img {
                width: 100%;
                left: 36px;
                width: 146px;
                height: 146px;
            }
            .square1 {
                width: 89px;
                height: 89px;
                top: 40px;
                left: 160px;
                z-index: 1;
            }
            .square2 {
                width: 89px;
                height: 89px;
                left: 120px;
                top: 120px;
            }
            .square3 {
                width: 110px;
                height: 110px;
                right: 0px;
            }
        }
        .text {
            margin-top: 20px;
            padding-left: 0;
            p {
                font-size: 14px;
            }
        }
    }
}
.services {
    height: 808px;
    background-color: var(--light-grey);
    padding-top: 100px;
    padding-left: var(--margin-box);
    padding-right: var(--margin-box);
    box-sizing: border-box;
    .description {
        display: flex;
        justify-content: space-between;
    }
    span {
        margin-top: 30px;
        margin-bottom: 50px;
        max-width: 670px;
        display: block;
        font-size: 18px;
    }
    button {
        border: none;
        background-color: var(--light-grey);
        margin-left: 20px;
        border-radius: 50%;
        width: 64px;
        height: 64px;
        padding: 0;
        .left {
            transform: rotateY(180deg);
        }
    }
    button:hover {
        background-color: var(--white);
    }
    .carousel {
        // overflow: hidden;
        height: 100%;
        .content {
            transition: all 1s ease-in-out;
            display: flex;
            .card {
                padding: 30px;
                margin-right: 30px;
                box-sizing: border-box;
                width: 329px;
                height: 400px;
                background-color: var(--white);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: 9px;
                img {
                    width: 60px;
                    height: 60px;
            }

            span {
                display: block;
                margin-top: 20px;
                margin-bottom: 0;
            }
        }
            h2 {
                margin: 0 !important;
                margin-bottom: 5px !important;
                color: var(--violet);
            }
        }
    }
}
@media (max-width: 500px) {
    .services {
        height: auto;
        background-color:white;
        padding-left: 36px;
        padding-right: 36px;
        h1 {
            font-size: 36px;
        }
        .description {
            display: block;
            span {
                font-size: 14px;
            }
            div {
                display: none;
            }
        }
        .carousel {
            height: auto;
            .content {
                .card {
                    width: 236px;
                    height: 286px;
                    margin-right: 0;
                }
                h2 {
                    font-size: 18px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
.application {

    padding-left: 100px;
    margin-top: 150px;
    // margin-left: var(--margin-box);
    // margin-right: var(--margin-box);
    margin-bottom: 150px;
    border-radius: 9px;
    background-color: var(--dark-blue);
    color: var(--white);
    position: relative;
    display: flex;
    max-width: 1400px;
    min-width: 1150px;
    .image {
        margin-left: 50px;
        width: 60%;
        position: relative;
        display: flex;
        img {
            width: 100%;
            position: absolute;
            border-radius: 9px;
            // top: 50px;
        }
    }
    .text {
        padding-top: 80px;
        padding-bottom: 80px;
        width: 40%;
        // max-width: 390px;
        h1 {
            color: var(--white);
        }
        button {
            border-radius: 40px;
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: var(--dark-blue);
            padding: var(--button-pading);
            margin-top: 50px;
            width: 177px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                display: none;
                margin-left: 7px;
            }
        }      
    }
    
    button:hover {
        img {
            display: block;
        }
    }
    span {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}
@media (max-width: 500px) {
    .application {
        width: auto;
        height: 579px;
        margin-right: 5%;
        margin-left: 5%;
        padding: 30px;
        min-width:0px;
        display: block;
        .image {
            margin-left: 0;
            width: 100%;
            justify-content: center;
            img {
                width: 120%;
            }
        }
        .text {
            h1 {
                font-size: 36px;
                width: 80%;
            }
            padding-bottom: 30px;
            padding-top: 0;
            width: 100%;
            button {
                margin-top: 40px;
            }
        }
    }
}
.customers {
    text-align: center;
    margin-bottom: 80px;
    .logo-box {
        margin-top: 60px;
        margin-left: var(--margin-box);
        height: 250px;
        width: 100%;
        .box-top,
        .box-bottom {
            display: flex;
            img {
                margin-right: 28px;
            }
        }
        .box-bottom {
            margin-top: 28px;
            margin-left: 179px;
        }
    }
}

@media (max-width: 500px) {
    .customers {
        margin-bottom: 0;
        h1 {
            font-size: 36px;
        }
        .logo-box {
            margin-left: 44.5px;
            img {
                width: 148px;
                height: 43px   
            }
            .box-bottom {
                margin-left: 98px;
            }
        }
    }
}
.video {
    margin-top: 150px;
    margin-bottom: 100px;
    height: 628px;
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    position: relative;
    .video-wrapper {
        border-radius: 9px;
        overflow: hidden;
        position: relative;
        top: 50px;
        height: 628px;
        width: 1000px;
        display: flex;
    }
    // video {
    //     position: absolute;
    //     top: 50px;
    // }
    .text {
        text-align: center;
        color: var(--white);
        position: absolute;
        top: 200px;
        max-width: 900px;
        h1 {
            color: var(--white);
            margin-bottom: 30px;
        }
    }
    button {
        background-image: url("../../../assets/icons/play-button.svg");
        background-color: transparent;
        position: absolute;
        width: 120px;
        height: 120px;
        top: 380px;
        border: none;
    }
}
@media (max-width: 500px) {
    .video {
        box-sizing: border-box;
        margin-top: 0;
        padding: 40px;
        height: 490px;
        .video-wrapper {
            height: 500px;
            top: 0;
        }
        h1 {
            font-size: 36px;
        }
        .text {
            top: 70px; 
            padding: 60px;
        }
        button {
            transform: scale(0.7);
        }
    }
}
.faq {
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: var(--margin-box);
    margin-right: var(--margin-box);
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    .container {
        display: flex;
        .box-left {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: 30px;
        }
        .box-right {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .question {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            margin-bottom: 20px;
            width: 100%;
            width: 686px;
            background-color: var(--light-grey);
            padding-left: 30px;
            padding-right: 30px;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 80px;
                button {
                    background-color: transparent;
                    border: none;
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    padding: 0;
                    img {
                        width: 48px;
                        height: 48px;
                    }
                }
                button:hover {
                    background-color: var(--white);
                }
                h2 {
                    margin: 0;
                }
            }
            span {
                display: block;
                animation: append-animate .3s linear;
                margin-top: 30px;
                margin-bottom: 30px;
            }
            @keyframes append-animate {
                from {
                    transform: scaleY(0.9);
                    opacity: 0;
                }
                to {
                    transform: scaleY(1);
                    opacity: 1;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    .faq {
        margin-left: 36px;
        margin-right: 36px;
        h1 {
            font-size: 36px;
        }
        .container {
            display: block;
            .question {
                width: 100%;
                height: 80px;
                h2 {
                    font-size: 18px;
                }
            }
        }
    }
}
